* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(249, 249, 249);
}

.main__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-weight: bold;
    margin: 25px;
}

.flex__container {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Eje de las X */
    /* justify-content: center flex-start flex-end baseline space-around space-between space-evenly; */
    /* Eje de las Y */
    /* align-items: center flex-start flex-end baseline space-around space-between space-evenly; */
    /* flex-wrap: nowrap; DEFAULT */
    /* flex-direction: row; row-reverse column [DEFAULT]; column-reverse;*/
}

.flex__item {
    width: 100px;
    height: 100px;
    margin: 10px;
    color: white;
    border: 5px dotted rgb(255, 255, 255);
    background-color: blueviolet;
}